/* global style */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin-top: 0;
}

img {
  max-width: 100%;
}

a {
  font-weight: bold;
  color: #c33c54;
}

/* end global style */
.split {
  display: flex;
  margin: 2rem 2rem;

  .margin-right {
    margin-right: 2rem;
  }

  .margin-left {
    margin-left: 2rem;
  }
}

/* animation insteed of marquee*/
.scrolling-text {
  width: fit-content;
  animation: scroll 10s linear infinite ;
  background-color: rgba(245, 192, 124, 0.3);
  overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-1%);
  }
}
.scroll-hidden{overflow: hidden;}
/* end animation */

.bold {
  font-weight: bold;
  /* color: #c33c54; */
}
.flex-center{
  display: flex;
  justify-content: center;
}